{% extends 'base.html' %}

{% block title %}
Thank You - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="container py-5">
    <div class="text-center col-md-6 offset-md-3">
        <h2>Thank you! <br>Your plan change was successful.</h2>
        <p class="lead">
            You are now subscribed to the <b>{{ new_plan }}</b> Plan. You can change your plan and credit card
            information
            at
            any time.
        </p>
        <a href="{% url 'main:dashboard' %}" class="btn btn-success">Ok!</a>
    </div>
</div>
{% endblock content %}
